@import url(http://weloveiconfonts.com/api/?family=zocial);

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.container {
	max-width: 1000px;
}

.toprow {
	margin: 3em -15px 1em;
	border-bottom: 2px solid #bcbbbb;
	padding-bottom: 2em;
}

@media (max-width: 768px) {
	.middlerow {
		display: none;
	}
	h1 {
		text-align: center;
	}
}

.middlerow h3 {
	text-align: center;;
}

.middlerow p {
	text-align: center;
}

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.social-media {
	text-align: center;
}

.social-media a {
	font-size: 5em;
}